init:
  - git config --global core.autocrlf input

version: 0.65.{build}

skip_tags: true

build_script:
  - cmd: powershell -NoProfile -ExecutionPolicy unrestricted -Command ".\up_integration-test-env.ps1; .\build.ps1 -Target All;"

image: Visual Studio 2017

environment:
  HELPZ_POSTGRESQL_PASS: Password12!

test: off

artifacts:
  - path: Build\Packages\*.nupkg

services:
  - mssql2014
  - postgresql101

on_success:
- choco install codecov
- codecov -f "Build\\Reports\\opencover-results.xml"

nuget:
  account_feed: false
  project_feed: false
  disable_publish_on_pr: true

deploy:
  - provider: NuGet
    api_key:
      secure: +YlrKmWps7RJVPU4s7B4HWNL9cZXaUVdiNJInli9IZPlTP+J0CyHsUvcDY8haE+b
    skip_symbols: false
    on:
      branch: master
  - provider: GitHub
    artifact: /.*\.(nupkg|zip)/
    auth_token:
      secure: f+y+RL1ETsxIbYKlliZrmXpfr1wvEVNhGGEOYyl2K8ryz02WxXL+kLe7pu53Kc8r
    tag: v$(appveyor_build_version)
    draft: true
    prerelease: false
    on:
      branch: master
