init:
  - git config --global core.autocrlf input

version: 0.20.{build}

skip_tags: true

build_script:
  - cmd: build.cmd

environment:
  RABBITMQ_URL:
    secure: xwGqQQNW97xHpuYOINuuTGji7GBCyo6uFKz04+k6S5S9afMcStqC6Z9/kYQO8xL6zlcoPi8Z1A6dyDUFGwHaLZ6N3u9qd3iiTTFR8BUo1CM=
  ELASTICSEARCH_URL:
    secure: UdRrKQ1ooMr8pSDJX8nSIRLOb87mMqMnhfDpKdXoqklQJxf5e+WDDVH5YWbn4JAvDn/YIDqkLD47C+rzwpYLMw==

test: off

artifacts:
  - path: Build\Packages\*.nupkg

cache:
  - packages -> **\packages.config

services:
  - mssql2014

nuget:
  account_feed: false
  project_feed: false
  disable_publish_on_pr: true

deploy:
  - provider: NuGet
    api_key:
      secure: +YlrKmWps7RJVPU4s7B4HWNL9cZXaUVdiNJInli9IZPlTP+J0CyHsUvcDY8haE+b
    skip_symbols: false
    on:
      branch: master
  - provider: GitHub
    artifact: /.*\.nupkg/
    auth_token:
      secure: uiVcx5TSmPy1GGF7GZeoAwXIQTswxvlyo0XKBgaWe1DyzOfJ7Fp3yNimR9IXzUrr
    tag: v$(appveyor_build_version)
    draft: true
    prerelease: false
    on:
      branch: master
