redirects: on
framework: <= net451
source https://www.nuget.org/api/v2/

nuget Autofac >= 3.5
nuget Autofac.Owin >= 3.1
nuget Autofac.WebApi2 >= 3.4
nuget Autofac.WebApi2.Owin >= 3.2
nuget Dapper ~> 1.42
nuget dbup ~> 3.3
nuget Elasticsearch.Net ~> 2.0
nuget EventStore.Client ~> 3.4
nuget Hangfire.Core ~> 1.5
nuget Hangfire.SqlServer ~> 1.5
nuget JetBrains.Annotations
nuget Microsoft.AspNet.WebApi.Client ~> 5.2
nuget Microsoft.AspNet.WebApi.Core ~> 5.2
nuget Microsoft.AspNet.WebApi.Owin ~> 5.2
nuget Microsoft.AspNet.WebApi.OwinSelfHost ~> 5.2
nuget Microsoft.Owin ~> 3.0
nuget Microsoft.Owin.Host.HttpListener ~> 3.0
nuget Microsoft.Owin.Hosting ~> 3.0
nuget NEST ~> 2.0
nuget Newtonsoft.Json >= 8.0
nuget Owin ~> 1.0
nuget RabbitMQ.Client ~> 3.6.0
nuget System.Data.SQLite.Core >= 1.0.99

group Build
	redirects: off
	framework: <= net451
	source https://www.nuget.org/api/v2/

	nuget cake
	nuget GitVersion.CommandLine
	nuget NUnit.Runners ~> 3.0
	nuget OpenCover

group Test
	redirects: on
	framework: <= net451
	source https://www.nuget.org/api/v2/
	
	nuget AutoFixture ~> 3.0
	nuget AutoFixture.AutoMoq ~> 3.0
	nuget FluentAssertions ~> 4.2
	nuget Helpz
	nuget Moq ~> 4.0
	nuget NUnit ~> 3.0