source https://www.nuget.org/api/v2/

nuget Autofac 3.5.2
nuget Autofac.Owin 3.1.0 framework: >= net451
nuget Autofac.WebApi2 3.4.0 framework: >= net451
nuget Autofac.WebApi2.Owin 3.2.0 framework: >= net451
nuget AutoFixture 3.31.3
nuget AutoFixture.AutoMoq 3.31.1 framework: >= net451
nuget Dapper 1.42 framework: >= net451
nuget dbup 3.2.1 framework: >= net451
nuget Elasticsearch.Net 1.7.1 framework: >= net451
nuget Elasticsearch.Net.JsonNET 1.7.1 framework: >= net451
nuget EventStore.Client 3.0.2 framework: >= net451
nuget FAKE 4.14.5
nuget FluentAssertions 4.0.0
nuget Hangfire.Core 1.4.6 framework: >= net451
nuget Hangfire.SqlServer 1.4.6 framework: >= net451
nuget Helpz 0.1.8 framework: >= net451
nuget JetBrains.Annotations 9.1.1 framework: >= net451
nuget Microsoft.AspNet.WebApi.Client 5.2.3 framework: >= net451
nuget Microsoft.AspNet.WebApi.Core 5.2.3 framework: >= net451
nuget Microsoft.AspNet.WebApi.Owin 5.2.3 framework: >= net451
nuget Microsoft.AspNet.WebApi.OwinSelfHost 5.2.3 framework: >= net451
nuget Microsoft.Owin 3.0.1 framework: >= net451
nuget Microsoft.Owin.Host.HttpListener 3.0.1 framework: >= net451
nuget Microsoft.Owin.Hosting 3.0.1 framework: >= net451
nuget Moq 4.2.1507.0118
nuget NEST 1.7.1 framework: >= net451
nuget Newtonsoft.Json 7.0.1 framework: >= net451
nuget NUnit 2.6.4
nuget Owin 1.0 framework: >= net451
nuget RabbitMQ.Client 3.5.4