redirects: on
framework: <= net451
source https://www.nuget.org/api/v2/

nuget Autofac 3.5.2
nuget Autofac.Owin 3.1.0
nuget Autofac.WebApi2 3.4.0
nuget Autofac.WebApi2.Owin 3.2.0
nuget Dapper 1.42
nuget dbup 3.3.5
nuget Elasticsearch.Net ~> 2.0
nuget EventStore.Client 3.4.0
nuget Hangfire.Core 1.5.3
nuget Hangfire.SqlServer 1.5.3
nuget JetBrains.Annotations 10.0.0
nuget Microsoft.AspNet.WebApi.Client 5.2.3
nuget Microsoft.AspNet.WebApi.Core 5.2.3
nuget Microsoft.AspNet.WebApi.Owin 5.2.3
nuget Microsoft.AspNet.WebApi.OwinSelfHost 5.2.3
nuget Microsoft.Owin 3.0.1
nuget Microsoft.Owin.Host.HttpListener 3.0.1
nuget Microsoft.Owin.Hosting 3.0.1 
nuget NEST ~> 2.0
nuget Newtonsoft.Json ~> 8.0.0
nuget Owin 1.0
nuget RabbitMQ.Client 3.6.0
nuget System.Data.SQLite.Core 1.0.99

group Build
	redirects: off
	framework: <= net451
	source https://www.nuget.org/api/v2/

	nuget cake
	nuget GitVersion.CommandLine
	nuget ilmerge 2.14.1208
	nuget NuGet.CommandLine
	nuget NUnit.Runners ~> 3.0
	nuget OpenCover

group Test
	redirects: on
	framework: <= net451
	source https://www.nuget.org/api/v2/
	
	nuget AutoFixture ~> 3.0
	nuget AutoFixture.AutoMoq ~> 3.0 framework: >= net451
	nuget FluentAssertions 4.2.1
	nuget Helpz 0.1.8 framework: >= net451
	nuget Moq ~> 4.0
	nuget NUnit ~> 3.0
