<RunSettings>
  <RunConfiguration>
  </RunConfiguration>
  <LoggerRunSettings>
    <Loggers>
      <Logger friendlyName="appveyor" enabled="True" />
      <Logger friendlyName="html" enabled="True">
        <Configuration>
          <LogFileName>nunit-output.html</LogFileName>
        </Configuration>
      </Logger>
    </Loggers>
  </LoggerRunSettings>
  <NUnit>
    <ConsoleOut>0</ConsoleOut>
  </NUnit>
</RunSettings>