<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Elasticsearch.Net" version="1.7.0" targetFramework="net451" />
  <package id="Elasticsearch.Net.JsonNET" version="1.7.0" targetFramework="net451" />
  <package id="Newtonsoft.Json" version="7.0.1" targetFramework="net451" />
</packages>