type project

iconUrl https://media.githubusercontent.com/media/eventflow/EventFlow/develop/icon-256.png
licenseUrl https://raw.githubusercontent.com/eventflow/EventFlow/master/LICENSE
projectUrl https://github.com/eventflow/EventFlow
requireLicenseAcceptance true
language en-US


tags CQRS ES event sourceing SQLite