<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoFixture" version="3.24.3" targetFramework="net451" />
  <package id="AutoFixture.AutoMoq" version="3.24.3" targetFramework="net451" />
  <package id="Elasticsearch.Net" version="1.4.3" targetFramework="net451" />
  <package id="FluentAssertions" version="3.3.0" targetFramework="net451" />
  <package id="Moq" version="4.2.1502.0911" targetFramework="net451" />
  <package id="NEST" version="1.4.3" targetFramework="net451" />
  <package id="Newtonsoft.Json" version="6.0.8" targetFramework="net451" />
  <package id="NUnit" version="2.6.4" targetFramework="net451" />
</packages>